.Navbar {
  width: 100%;
  height: var(--Navbar-height);
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}
